/*
0 - 600Ppx:       Phone                     -> max width
600 - 900px:      Tablet portrait           -> max width
900 - 1200px:     Tablet landscape          -> max width
1200 - 1800px:    where normal style goes
1800px +:         Big desktop               -> min  width

$breakpoint argument choice
- phone
- tab-port
- tab-lands
- big-desktop

Order : Base + typography > general layout + grid > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #FFFFF3; }

::selection {
  color: #fff;
  background: #353b48; }

/* ANIMATIONS */
@keyframes dropDown {
  0% {
    opacity: 1;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #353b48; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 0.5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 8rem; } }

.u-margin-top-small {
  margin-top: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 0.5rem; } }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-huge {
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 8rem; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #353b48;
  cursor: pointer;
  padding: 0.5rem 3rem;
  transition: all 0.2s; }

.btn:hover, .btn:active {
  background-color: #353b48;
  color: #fff; }

.btn:active {
  transform: translateY(1px);
  border-radius: 3px; }

.card {
  position: relative;
  overflow: hidden; }
  .card__photo-box {
    display: block;
    filter: grayscale(100%);
    transition: all 0.2s; }
  .card__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    transform: translateY(6rem);
    opacity: 0.9;
    color: #fff;
    background-color: #1f232b;
    padding: 1rem 1rem 0 1rem;
    transition: all 0.4s;
    display: flex;
    flex-direction: column; }
  .card:hover > .card__photo-box {
    filter: grayscale(0); }
  .card:hover > .card__caption {
    transform: translateY(0); }
  .card__name:link, .card__name:visited, .card__name:hover, .card__name:active {
    display: inline-block;
    align-self: center;
    color: inherit;
    text-decoration: none;
    line-height: 1;
    outline: none; }
  .card__author {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    align-items: center; }
  .card__icon {
    display: inline-block;
    opacity: 1;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    stroke-width: 0;
    stroke: red;
    fill: red; }

.skill__group {
  margin: 1rem 1rem; }
  .skill__group > p {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem; }

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .skill__tag {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem; }
  .skill__level {
    flex: 1;
    height: 2.5rem;
    border-radius: 4rem;
    position: relative; }
  .skill__popup {
    position: absolute;
    background-image: linear-gradient(to bottom right, #1f232b, #353b48);
    width: 100%;
    height: auto;
    max-height: 0;
    color: #fff;
    border-radius: 10px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: -10;
    transition: all 0.7s;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .skill__popup ul {
      list-style: none;
      width: 100%;
      padding: 0.5rem 0.5rem; }
    .skill__popup-item:link, .skill__popup-item:hover, .skill__popup-item:visited, .skill__popup-item:active {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      color: inherit;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s; }
    .skill__popup-item:hover, .skill__popup-item:active {
      color: #353b48;
      background-color: #fff; }
  .skill__level:hover .skill__popup, .skill__popup:hover {
    opacity: 1;
    z-index: 10;
    max-height: 15rem; }

.avatar {
  overflow: hidden;
  transition: all 0.5s; }
  .avatar--circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%; }
  .avatar__photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: all 0.2s; }
    .avatar__photo:hover {
      filter: grayscale(0%); }

.container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
  grid-template-areas: 'nav' 'main' 'footer'; }

.navigation {
  background-color: transparent;
  grid-area: nav;
  border-top: 2px solid #1f232b;
  border-bottom: 2px solid #1f232b; }

.menu {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center; }
  .menu__link:link, .menu__link:visited {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #353b48;
    cursor: pointer;
    transition: all 0.2s; }
  .menu__link:hover, .menu__link:active {
    background-color: #8d96ab;
    color: #fff; }
  .menu__link:active {
    transform: translateY(2px); }

.intro {
  grid-area: intro;
  padding: 3rem 1rem;
  border-bottom: 5px solid #1f232b;
  display: flex;
  align-items: center; }
  .intro__photo {
    flex-basis: 30%; }
  .intro .personal {
    flex-basis: 70%;
    margin-left: 3rem; }
    .intro .personal__intro {
      line-height: 2.5;
      font-weight: 500;
      font-size: 1.4rem; }

.portifolio {
  grid-area: portifolio;
  margin: 1rem 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }

.footer {
  grid-area: footer;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column; }
  .footer__social-media {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem; }
    .footer__icon--github {
      transition: all 0.2s; }
      .footer__icon--github:hover {
        fill: #6e5494; }
    .footer__icon--instagram {
      transition: all 0.2s; }
      .footer__icon--instagram:hover {
        fill: #517fa4; }
    .footer__icon--linkedin {
      transition: all 0.2s; }
      .footer__icon--linkedin:hover {
        fill: #0077b5; }
  .footer__copyright {
    width: 100%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__copyright .designer {
      font-size: 1.4rem;
      margin: 0 1rem; }
    .footer__copyright .line {
      content: "";
      border-bottom: 1px solid black;
      flex: 1; }

.home {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr;
  grid-template-areas: 'intro' 'portifolio'; }

.about {
  grid-area: main;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'intro skill'; }

.presentation {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  margin-right: 2rem; }
  .presentation > p {
    text-align: justify; }
    .presentation > p:not(:last-of-type) {
      margin-bottom: 1rem; }
    .presentation > p:first-of-type {
      margin-top: 2rem; }
