/*
0 - 600Ppx:       Phone                     -> max width
600 - 900px:      Tablet portrait           -> max width
900 - 1200px:     Tablet landscape          -> max width
1200 - 1800px:    where normal style goes
1800px +:         Big desktop               -> min  width

$breakpoint argument choice
- phone
- tab-port
- tab-lands
- big-desktop

Order : Base + typography > general layout + grid > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #FFFFF3; }

::selection {
  color: #fff;
  background: #353b48; }

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #353b48; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 0.5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 8rem; } }

.u-margin-top-small {
  margin-top: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 0.5rem; } }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-huge {
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 8rem; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #353b48;
  cursor: pointer;
  padding: 0.5rem 3rem;
  transition: all 0.2s; }

.btn:hover, .btn:active {
  background-color: #353b48;
  color: #fff; }

.btn:active {
  transform: translateY(1px);
  border-radius: 3px; }

.card {
  position: relative;
  overflow: hidden; }
  .card__photo-box {
    display: block;
    filter: grayscale(100%);
    transition: all 0.2s; }
  .card__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    transform: translateY(6rem);
    opacity: 0.9;
    color: #fff;
    background-color: #1f232b;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    display: flex;
    flex-direction: column; }
  .card:hover > .card__caption {
    transform: translateY(0); }
  .card:hover > .card__photo-box {
    filter: grayscale(0); }
  .card__project--name:link, .card__project--name:visited, .card__project--name:hover, .card__project--name:active {
    align-self: center;
    color: inherit;
    text-decoration: none; }
  .card__project--designer {
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-end; }

.container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
  grid-template-areas: 'nav' 'intro' 'portifolio' 'footer'; }

.navigation {
  background-color: transparent;
  grid-area: nav;
  border-top: 2px solid #1f232b;
  border-bottom: 2px solid #1f232b; }

.menu {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; }
  .menu__link:link, .menu__link:visited {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #353b48;
    cursor: pointer;
    transition: all 0.2s; }
  .menu__link:hover, .menu__link:active {
    background-color: #8d96ab;
    color: #fff; }
  .menu__link:active {
    transform: translateY(2px); }

.intro {
  grid-area: intro;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  border-bottom: 5px solid #1f232b; }

.avatar {
  overflow: hidden;
  border-radius: 1rem;
  flex-basis: 30%;
  transition: all 0.5s; }
  .avatar:hover {
    border-radius: 0; }
  .avatar__photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: all 0.2s; }
    .avatar__photo:hover {
      filter: grayscale(0%); }

.personal {
  flex-basis: 70%;
  margin-left: 3rem; }
  .personal__intro {
    line-height: 2.5;
    font-weight: 500;
    font-size: 1.4rem; }

.portifolio {
  grid-area: portifolio;
  margin: 1rem 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }

.footer {
  background-color: yellowgreen;
  grid-area: footer; }
