.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-primary;
    cursor: pointer; 
    padding: 0.5rem 3rem;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    background-color: $color-primary-light-1;
    color: $color-white;
  }

  &:active {
    transform: translateY(2px);
    border-radius: 3px;
  }
}