.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba($color-white, 0.6);
  overflow: hidden; // used because the story__avatar is a floatt element to not overridem the padding
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  border-radius: 3px;
                
  &__avatar {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 3rem;
    position: relative;
    -webkit-transform: skewX(12deg);
            transform: skewX(12deg);

    &__img {
      height: 100%;
      -webkit-transform: translateX(-4rem) scale(1.5);
              transform: translateX(-4rem) scale(1.5);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, 20%) ;
              transform: translate(-50%, 20%) ;
      color: $color-white;
      text-transform: uppercase;
      text-align: center;
      font-size: $default-font-size;
      opacity: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  

  &__text {
    font-size: $default-font-size;
    -webkit-transform: skewX(12deg);
            transform: skewX(12deg);
  }

  &:hover &__avatar__img{
    -webkit-transform: translateX(-4rem) scale(1.1);
            transform: translateX(-4rem) scale(1.1);
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }

  &:hover &__avatar__name{
    -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    opacity: 1;

  }

  @include respond(phone){
    
    width: 100%;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);

    &__avatar {
      -webkit-transform: skewX(0deg);
              transform: skewX(0deg);
        float: none;
        shape-outside: none;
        margin: 0 auto;
    }
      
    &__text {
      margin-top: 2rem;
      -webkit-transform: skewX(0deg);
              transform: skewX(0deg);
    }
  }
}