.about{
  grid-area: main;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'intro skill';

  .presentation {
    border-right: 1px solid $color-primary-dark;
  }
}