.intro {
  grid-area: intro;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  border-bottom: 5px solid $color-primary-dark;
}

.avatar {
  overflow: hidden;
  border-radius: 1rem;
  flex-basis: 30%;
  transition: all 0.5s;
  
  &:hover{
    border-radius: 0;
  }

  &__photo { //1.5 aspect ratio
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: all 0.2s;

    &:hover{
      filter: grayscale(0%);
    }
  }
}

.personal {
  flex-basis: 70%;
  margin-left: 3rem;

  &__intro {
    line-height: 2.5;
    font-weight: 500;
    font-size: 1.4rem;
  }
}
